body {
    background-color: #000000;
}

#text {
    background-color: #313133;
    font-family: 'Courier New', monospace;
    color: #ffffff;
    padding: 10px 10px 10px 10px;
}

#game {
    max-width: 800px;
    max-height: auto;
    background-color: #754403;
    color: #ffffff;
    margin-top: 30px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 10px 10px 10px;
}

#controls, #stats {
    border: 1px solid #000000;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: #000000;
    padding: 5px;
    text-align: center;
}

#monsterStats {
    border: 1px solid #0a0a23;
    padding: 5px;
    color: #ffffff;
    background: #c70d0d;
    display: none;
}

.stat {
    padding-right: 10px;
}



